{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		tr,td
		{
			padding: 10px;
		}
		table
		{
			background-color: lightgrey;
		}
    </style>
</head>
<body>
<center>
<h1>Chnage Password</h1>
{% if msg %}
    {{msg}}
{% endif %}

<form name="change_password" method="POST" action="{% url 'change_password' %}">
	{% csrf_token %}
    <table>
    	<tr>
    		<td>Old Password</td>
    		<td><input type="password" name="opassword"></td>
    	</tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" name="npassword"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="cnpassword"></td>
        </tr>
    	<tr>
            <td colspan="2" align="center">
    	    <input type="submit" value="Change password" class="btn btn-primary"></td>
            </td>
    	</tr>
    </table>
</form>
</body>
</html>
{% endblock %}
